<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<nav id="nav">
  <div id="nav1">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div id="nav2">
    <img src="assets/imgs/Logo.png" alt="">
  </div>
  <div id="nav3">
    <button id="b1">Subscribe</button>
    <button>Sign In</button>
  </div>
</nav>
<div id="tabs">
  
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">IR Prime</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">BookStore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Newsletter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Video</a>
    </li>
  </ul>
</div>
<div id="grid1">
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imgs/rws.svg" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Hotspots</h5>
              <p class="card-text">Luxury hotspots: most expensive high streets.</p>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imgs/card2.svg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">AI</h5>
              <p class="card-text">5 ways to leverage the power of ChatGPT in retail.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imgs/image 43.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shipping</h5>
              <p class="card-text">Relaince to open 250 Azorte Stores in 2-3 years.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="latest_news">
  <div id="ln1">
    <div id="ln1_card"  class="card" style=" background-image: url(assets/imgs/Card1.png);">
      <div class="card-body">
        <button type="button" style="border-radius: 0;" class="btn btn-danger">Focus on</button>
        <h5 style="color: red; text-align: left; border: red;" class="card-title">Rahul Gandhi In Manipur: Chopper Ride After Women Protesters Surround Car</h5>
        <p style="color: red; text-align: left; " class="card-text">Rahul Gandhi</p>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/imgs/image 34.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 style="color:#E21B22;">Select citywalk</h5>
              <p class="card-text">Wow! Momo Foods enters Bhopal with Wow! </p>
              <p ># Citywalk #reel stories podcast </p>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/imgs/image 34 (1).png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Food & Beverage</h5>
              <p class="card-text">KFC opens another outlet in Punjab KFC opens another outlet in Punjab</p>
              <p># Beverage #reel stories podcast</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/imgs/image 34 (2).png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Select Citywalk</h5>
              <p class="card-text">FNP (Ferns N Petals) appoints Ashish Goel</p>
              <p># Citywalk #reel stories podcast</p>
            </div>
          </div>
          <div>
            <img src="assets/imgs/right_arrow.png" alt="">
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div id="ln2">
    <h1>Latest News</h1>              
    <div id="ln2_cards">
      <img src="assets/imgs/l2_card_1.png" alt="">
      <p>Unwrapping the Archies’ reinvention plan</p>
    </div>
    <div id="ln2_cards">
      <img src="assets/imgs/a.png" alt="">
      <p>How AI is enhancing stores, How AI is enhancing stores</p>  
    </div>
    <div id="ln2_card_2">
      <p>______________________________________________________</p>
      <h6>Croma opens 58 outlets in 6, Croma retails more than 16,000</h6>
      <p>These companies created a lot of hype when they listed on the...</p>
    </div>
    <div id="ln2_card_2">
      <p>______________________________________________________</p>
      <h6>Croma opens 58 outlets in 6, Croma retails more than 16,000</h6>
      <p>These companies created a lot of hype when they listed on the...</p>
    </div>
  </div>
</div>
<div id="web_special">
  <div id="wb_d1">
    <div id="wbd1_card"  class="card" style=" background-image: url(assets/imgs/Card1.png);">
      <div class="card-body">
        <h5 style="color: black; text-align: left; border: black;" class="card-title">Rahul Gandhi In Manipur: Chopper Ride After Women Protesters Surround Car</h5>
        <p style="color: black; text-align: left; " class="card-text">Rahul Gandhi</p>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Cinema industry welcomes lowering GST rates</li>
      <li class="list-group-item">Patanjali Ayurved to sell 7% stake in Patanjali</li>
      <li class="list-group-item">Select Citywalk opens 4 new stores in June</li>
      <li class="list-group-item">Govt imposes import restrictions on certain gold </li>
      <li class="list-group-item">Joom Marketplace offers a global window for sellers</li>
    </ul>
    <div id="wbd1_img"></div>
  </div>
  <div id="wb_d2">
    <ul class="list-flex">
      <li class="list-group-item">B2B managed marketplace The Yarn</li>
      <li class="list-group-item">Sequoia Capital exits Go Fashion</li>
      <li class="list-group-item">B2B managed marketplace The Yarn</li>
      <li class="list-group-item">Sequoia Capital exits Go Fashion</li>
    </ul>
  </div>
  <div id="wb_d3">
    <div class="card" style="width: 18rem;">
      <img src="assets/imgs/1 (2).png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fashion brand icons: Shailesh Chaturvedi of Arvind Fashions</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets/imgs/2 (2).png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">DLF creating new retail space in Delhi for France’s Galeries Lafayette</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets/imgs/3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">PE firm Carlyle offloads entire, Carlyle through its special-purpose .</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets/imgs/4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">How AI is enhancing stores, How AI is enhancing stores</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets/imgs/5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Shilpa Shetty Kundra invests, Kisankonnect is at Rs 120 crore.</p>
      </div>
    </div>
    
  </div>
</div>
<h5>Trending</h5>
<div id="trending">
  <button>Rahul Gandhi In Manipur</button>
  <button>Meta</button>
  <button>E-commerce</button>
  <button>Fashion</button>
  <button>Live Cricket Score</button>
  <button>Adipurush</button>
  <button>Sushant Singh Rajputdeath case</button>
  <button>Myntra launches </button>
  <button>E-commerce</button>
  <button>Live Cricket Score</button>
</div>
<div id="leaders">
  <div>
    <h5>Leaders Ink</h5>
 
  <div id="leaders_ink">
    <div class="card" style="width: 18rem;">
      <img src="assets/imgs/image 22.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/imgs/image 23.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/imgs/image 24.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
  </div>
  </div>
  <div>
    <h5>Research</h5>
 
  <div id="Research">
    <div class="card" style="width: 18rem;">
      <img src="assets/imgs/32.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/imgs/image 33.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        
  </div>
  </div>
</div>
<div id="IR_videowall">
  <div id="IV_d1">
    <h5 style="color: white; margin-bottom: 10px;">IR Video wall</h5>
    <div id="bg">
    </div>
  </div>
  <div id="IV_d2">
    <div id="IV_d2_div">
      <h6>Retail With Rasul</h6>
      <img src="assets/imgs/image 27.png" alt="">
      <p>Senco Gold IPO subscribed 69% on first day of subscription</p>
      <img src="assets/imgs/image 27 (1).png" alt="">
      <p>Senco Gold IPO subscribed 69% on first day of subscription</p>
    </div>
    <div id="IV_d2_div">
      <h6>The Store</h6>
      <img src="assets/imgs/image 27 (2).png" alt="">
      <p>Senco Gold IPO subscribed 69% on first day of subscription</p>
      <img src="assets/imgs/image 27 (3).png" alt="">
      <p>Senco Gold IPO subscribed 69% on first day of subscription</p>
    </div>
    <div id="IV_d2_div">
      <h6>IR Studio</h6>
      <img src="assets/imgs/image 27 (4).png" alt="">
      <p>Senco Gold IPO subscribed 69% on first day of subscription</p>
      <img src="assets/imgs/image 27 (5).png" alt="">
      <p>Senco Gold IPO subscribed 69% on first day of subscription</p>
    </div>
  </div>
</div>
<div id="fashion">
  <div class="left-section">
      <h5>
          Fashion & Lifestyle
      </h5>
      <div class="news-grid">
          <div class="news-card">
              <img src="assets/imgs/fashion&lifestyle/3.png" alt="News">
              <div class="news-content">
                  <div class="news-category">FASHION | FOOD</div>
                  <div class="news-title">What makes Fila unique is its attitude...</div>
                  <div class="news-description">The singer-songwriter has been spotted in the hybrid garment...</div>
              </div>
          </div>

          <div class="news-card">
              <img src="assets/imgs/fashion&lifestyle/image 19.png" alt="News">
              <div class="news-content">
                  <div class="news-category">SIDDHANT | FASHION</div>
                  <div class="news-title">French Connection announces Siddhant...</div>
                  <div class="news-description">The singer-songwriter has been spotted...</div>
              </div>
          </div>

          <div class="news-card">
              <img src="assets/imgs/fashion&lifestyle/1.png" alt="News">
              <div class="news-content">
                  <div class="news-category">LIFESTYLE | FASHION</div>
                  <div class="news-title">Fashion brand icons: Shailesh Chaturvedi...</div>
                  <div class="news-description">BTS attended the 2022 Grammy Awards...</div>
              </div>
          </div>

          <div class="news-card">
              <img src="assets/imgs/fashion&lifestyle/image 20.png" alt="News">
              <div class="news-content">
                  <div class="news-category">FASHION | ZOUK</div>
                  <div class="news-title">Zouk marries heritage with functionality</div>
                  <div class="news-description">The singer-songwriter has been spotted...</div>
              </div>
          </div>
          <div class="news-card">
            <img src="assets/imgs/fashion&lifestyle/2.png" alt="News">
            <div class="news-content">
                <div class="news-category">LIFESTYLE | FASHION</div>
                <div class="news-title">Fashion brand icons: Shailesh Chaturvedi...</div>
                <div class="news-description">BTS attended the 2022 Grammy Awards...</div>
            </div>
        </div>
        <div class="news-card">
          <img src="assets/imgs/fashion&lifestyle/image 21.png" alt="News">
          <div class="news-content">
              <div class="news-category">LIFESTYLE | FASHION</div>
              <div class="news-title">Fashion brand icons: Shailesh Chaturvedi...</div>
              <div class="news-description">BTS attended the 2022 Grammy Awards...</div>
          </div>
      </div>
      </div>
  </div>
  <div class="right-section">
    <h5>Beauty & Wellness</h5>
    <div class="news-list">
        <div class="list-item">
            <img src="assets/imgs/fashion&lifestyle/11.png" alt="News">
            <div class="list-text">
                <div class="news-category">BEAUTY | NEWS</div>
                <div class="list-title">Sugar Cosmetics unveils its 200th store</div>
            </div>
        </div>

        <div class="list-item">
            <img src="assets/imgs/fashion&lifestyle/12.png" alt="News">
            <div class="list-text">
                <div class="news-category">WELLNESS | NEWS</div>
                <div class="list-title">Athiya Shetty becomes the face of Just Herbs...</div>
            </div>
        </div>

        <div class="list-item">
            <img src="assets/imgs/fashion&lifestyle/13.png" alt="News">
            <div class="list-text">
                <div class="news-category">WELLNESS | NEWS</div>
                <div class="list-title">Indian stars dazzle at Cannes 2023</div>
            </div>
        </div>

        <div class="list-item">
            <img src="assets/imgs/fashion&lifestyle/14.png" alt="News">
            <div class="list-text">
                <div class="news-category">BEAUTY | NEWS</div>
                <div class="list-title">Recode Studios to expand footprint with 5 stores...</div>
            </div>
        </div>
        <div class="list-item">
          <img src="assets/imgs/fashion&lifestyle/15.png" alt="News">
          <div class="list-text">
              <div class="news-category">BEAUTY | NEWS</div>
              <div class="list-title">Sugar Cosmetics unveils its 200th store</div>
          </div>
      </div>
    </div>
  </div>

</div>
<div id="food">
  <div class="food-beverage-section">
    <div class="category-title">
        <h5>Food & Beverage</h5>
        <a href="#">See more ></a>
    </div>
    <div class="news-container">
        <div class="news-card">
            <img src="assets/imgs/food/1.png" alt="Wow! Momo">
            <div class="news-content">
                <div class="news-title">Wow! Momo Foods enters Bhopal with Wow! Momo, Wow China</div>
                <div class="news-hashtag">#Lifestyle</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/food/2.png" alt="Barista Coffee">
            <div class="news-content">
                <div class="news-title">Barista Coffee Company opens its first café in Ahmedabad</div>
                <div class="news-hashtag">#Lifestyle</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/food/3.png" alt="Good Flippin' Burgers">
            <div class="news-content">
                <div class="news-title">Good Flippin' Burgers raises $4 Million in Series A Round</div>
                <div class="news-hashtag">#Lifestyle</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/food/4.png" alt="Keventers">
            <div class="news-content">
                <div class="news-title">How Keventers is milking milkshakes business opportunity</div>
                <div class="news-hashtag">#Lifestyle</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/food/5.png" alt="Barbeque Nation">
            <div class="news-content">
                <div class="news-title">Barbeque Nation Q4 net loss at Rs 11.60cr</div>
                <div class="news-hashtag">#Lifestyle</div>
            </div>
        </div>
    </div>
</div>

</div>
<div id="ecom">
  <div class="left-section">
    <h5>
        E-commerce
    </h5>
    <div class="news-grid">
        <div class="news-card">
            <img src="assets/imgs/ecom/image 19.png" alt="News">
            <div class="news-content">
                <div class="news-category">FASHION | FOOD</div>
                <div class="news-title">What makes Fila unique is its attitude...</div>
                <div class="news-description">The singer-songwriter has been spotted in the hybrid garment...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom/image 20.png" alt="News">
            <div class="news-content">
                <div class="news-category">SIDDHANT | FASHION</div>
                <div class="news-title">French Connection announces Siddhant...</div>
                <div class="news-description">The singer-songwriter has been spotted...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom/image 21.png" alt="News">
            <div class="news-content">
                <div class="news-category">LIFESTYLE | FASHION</div>
                <div class="news-title">Fashion brand icons: Shailesh Chaturvedi...</div>
                <div class="news-description">BTS attended the 2022 Grammy Awards...</div>
            </div>
        </div>

        
    </div>
  </div>
  <div class="left-section">
    <h5>
      People
    </h5>
    <div class="news-grid">
        <div class="news-card">
            <img src="assets/imgs/ecom/image 19 (1).png" alt="News">
            <div class="news-content">
                <div class="news-category">FASHION | FOOD</div>
                <div class="news-title">What makes Fila unique is its attitude...</div>
                <div class="news-description">The singer-songwriter has been spotted in the hybrid garment...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom/image 20 (1).png" alt="News">
            <div class="news-content">
                <div class="news-category">SIDDHANT | FASHION</div>
                <div class="news-title">French Connection announces Siddhant...</div>
                <div class="news-description">The singer-songwriter has been spotted...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom/image 21 (1).png" alt="News">
            <div class="news-content">
                <div class="news-category">LIFESTYLE | FASHION</div>
                <div class="news-title">Fashion brand icons: Shailesh Chaturvedi...</div>
                <div class="news-description">BTS attended the 2022 Grammy Awards...</div>
            </div>
        </div>

        
    </div>
  </div>
  <div class="left-section">
    <h5>
      D2C remove Buzz
    </h5>
    <div class="news-grid">
        <div class="news-card">
            <img src="assets/imgs/ecom/image 19 (2).png" alt="News">
            <div class="news-content">
                <div class="news-category">FASHION | FOOD</div>
                <div class="news-title">What makes Fila unique is its attitude...</div>
                <div class="news-description">The singer-songwriter has been spotted in the hybrid garment...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom/image 20 (2).png" alt="News">
            <div class="news-content">
                <div class="news-category">SIDDHANT | FASHION</div>
                <div class="news-title">French Connection announces Siddhant...</div>
                <div class="news-description">The singer-songwriter has been spotted...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom/image 21 (2).png" alt="News">
            <div class="news-content">
                <div class="news-category">LIFESTYLE | FASHION</div>
                <div class="news-title">Fashion brand icons: Shailesh Chaturvedi...</div>
                <div class="news-description">BTS attended the 2022 Grammy Awards...</div>
            </div>
        </div>

        
    </div>
  </div>
</div>
<div id="ad">
  <div id="ad_div"></div>
</div>
<div id="ecom">
  <div class="left-section">
    <h5>
        Supply Chain
    </h5>
    <div class="news-grid">
        <div class="news-card">
            <img src="assets/imgs/ecom2/1.png" alt="News">
            <div class="news-content">
                <div class="news-category">FASHION | FOOD</div>
                <div class="news-title">What makes Fila unique is its attitude...</div>
                <div class="news-description">The singer-songwriter has been spotted in the hybrid garment...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom2/2.png" alt="News">
            <div class="news-content">
                <div class="news-category">SIDDHANT | FASHION</div>
                <div class="news-title">French Connection announces Siddhant...</div>
                <div class="news-description">The singer-songwriter has been spotted...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom2/3.png" alt="News">
            <div class="news-content">
                <div class="news-category">LIFESTYLE | FASHION</div>
                <div class="news-title">Fashion brand icons: Shailesh Chaturvedi...</div>
                <div class="news-description">BTS attended the 2022 Grammy Awards...</div>
            </div>
        </div>

        
    </div>
  </div>
  <div class="left-section">
    <h5>
      Marketing
    </h5>
    <div class="news-grid">
        <div class="news-card">
            <img src="assets/imgs/ecom2/4.png" alt="News">
            <div class="news-content">
                <div class="news-category">FASHION | FOOD</div>
                <div class="news-title">What makes Fila unique is its attitude...</div>
                <div class="news-description">The singer-songwriter has been spotted in the hybrid garment...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom2/5.png" alt="News">
            <div class="news-content">
                <div class="news-category">SIDDHANT | FASHION</div>
                <div class="news-title">French Connection announces Siddhant...</div>
                <div class="news-description">The singer-songwriter has been spotted...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom2/6.png" alt="News">
            <div class="news-content">
                <div class="news-category">LIFESTYLE | FASHION</div>
                <div class="news-title">Fashion brand icons: Shailesh Chaturvedi...</div>
                <div class="news-description">BTS attended the 2022 Grammy Awards...</div>
            </div>
        </div>

        
    </div>
  </div>
  <div class="left-section">
    <h5>
      Technology
    </h5>
    <div class="news-grid">
        <div class="news-card">
            <img src="assets/imgs/ecom2/7.png" alt="News">
            <div class="news-content">
                <div class="news-category">FASHION | FOOD</div>
                <div class="news-title">What makes Fila unique is its attitude...</div>
                <div class="news-description">The singer-songwriter has been spotted in the hybrid garment...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom2/8.png" alt="News">
            <div class="news-content">
                <div class="news-category">SIDDHANT | FASHION</div>
                <div class="news-title">French Connection announces Siddhant...</div>
                <div class="news-description">The singer-songwriter has been spotted...</div>
            </div>
        </div>

        <div class="news-card">
            <img src="assets/imgs/ecom2/9.png" alt="News">
            <div class="news-content">
                <div class="news-category">LIFESTYLE | FASHION</div>
                <div class="news-title">Fashion brand icons: Shailesh Chaturvedi...</div>
                <div class="news-description">BTS attended the 2022 Grammy Awards...</div>
            </div>
        </div>

        
    </div>
  </div>
</div>
<div id="footer">
  <footer>
    <div class="footer-container">
        <div class="footer-section">
            <img src="assets/imgs/Logo.png" >
            <p><strong>New Delhi</strong><br>Images Multimedia Ltd.<br>S-61 A, Pocket S, Okhla Phase II, Okhla Industrial Estate, New Delhi, Delhi 110020</p>
            <p><strong>Mumbai</strong><br>E 519, Floral Deck Plaza, Central MIDC Road, Opp. SEEPZ, Andheri (East), Mumbai 400093</p>
            <p><strong>Contact us:</strong><br>📞 +91-9867355551<br>✉ editor.com</p>
        </div>
        <div class="footer-section">
            <h4>About Us</h4>
            <ul>
                <li><a href="#">About IndiaRetailing.com</a></li>
                <li><a href="#">Meet the Team</a></li>
                <li><a href="#">Advertise with Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Fashion & Lifestyle</a></li>
                <li><a href="#">Beauty & Wellness</a></li>
                <li><a href="#">Food & Beverage</a></li>
                <li><a href="#">Consumer Durables & IT</a></li>
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">Home Décor & Furnishing</a></li>
                <li><a href="#">Specialty Retail</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Features</h4>
            <ul>
                <li><a href="#">Leaders Ink</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Finance & Funding</a></li>
                <li><a href="#">D2C</a></li>
                <li><a href="#">Shopping Centers</a></li>
                <li><a href="#">Results</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Case Studies</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Events</h4>
            <ul>
                <li><a href="#">India Food Forum</a></li>
                <li><a href="#">Shopping Centre Next</a></li>
                <li><a href="#">Phygital Retail Convention</a></li>
                <li><a href="#">India D2C Summit & Awards</a></li>
                <li><a href="#">Internet Commerce Summit</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Follow Us</h4>
            <div class="social-icons">
                <a href="#"><img src="" alt="Facebook"></a>
                <a href="#"><img src="" alt="LinkedIn"></a>
                <a href="#"><img src="" alt="YouTube"></a>
                <a href="#"><img src="" alt="Instagram"></a>
            </div>
        </div>
    </div>
</footer>

</div>